---
layout: base.njk
---
{% from "macros.njk" import timeTag  %}
{% from "macros.njk" import taglist  %}

<!--
<p style="margin-top: .5em !important; "><img style= "margin: 0 !important;width: 100%" src="https://picsum.photos/512/128?gravity=center&amp;random" alt=""></p>
 -->

<h1>{{ title }}</h1>
<div class="article-slug">
<span class="article-date">
  {{ timeTag(page.date)}}
</span>
<span style="color: var(--darkred)">
  &emsp13;•&emsp13;
</span>
<span class="article-category">
<a href="/categories/{{category}}">{{ category }}</a></span>
<span style="color: var(--darkred)">
  &emsp13;•&emsp13;
</span>

{{ taglist(tags)}}
</div>

{{ content | safe }}

<section class="article-footer">
  <a href="{{ '/articles' | url }}">← back to articles</a>
</section>
