<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="me" href="https://micro.blog/pborenstein">
    <link rel="stylesheet" href="https://use.typekit.net/ztn6rcs.css">
<!-- generics -->
<link rel="icon" href="/img/icons/favicon-32.png" sizes="32x32">
<link rel="icon" href="/img/icons/favicon-57.png" sizes="57x57">
<link rel="icon" href="/img/icons/favicon-76.png" sizes="76x76">
<link rel="icon" href="/img/icons/favicon-96.png" sizes="96x96">
<link rel="icon" href="/img/icons/favicon-128.png" sizes="128x128">
<link rel="icon" href="/img/icons/favicon-192.png" sizes="192x192">
<link rel="icon" href="/img/icons/favicon-228.png" sizes="228x228">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-solarized.light.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body class="wrapper">
  <header>
    <div id="logo"><a href="/"><span class="slug">pborenstein</span>.com</a></div>
  </header>
  <nav>
    <ul>
      {%- for nav in collections.nav  -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>
  <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
  </main>
  <footer>
    <ul>
      <li>
        <p class="footer-text" style="color: var(--body)">
        Copyright &copy; 2019 Philip Borenstein</p>
                <p class="footer-text" style="color: var(--body)">
        Made with <a href="https://www.11ty.io/">11y</a>  and <span>🔥</span>  in Manchester, USA
        </p>
      </li>
      <li>
        <p class="footer-text" id="sha">
        <a href="https://github.com/pborenstein/pborenstein.com/blob/master{{ page.inputPath.slice(1) }}">
        {%- if git.curbranch != 'HEAD' -%}
          {{- git.curbranch-}}@
        {%- endif -%}
        {{- git.commitsha -}}
        </a>
        </p>
      </li>
    </ul>
    </footer>
    <!--  {{page | pdump | safe }} -->
  </body>
</html>
