{%-macro articlesList(aList) -%}
<div class="articleList">
  {%-for article in aList | reverse -%}
    {{card(article.url, article.data.title, article.data.subhead, article.data.category, article.data.tags, timeTag(article.date, ""))}}
  {%-endfor -%}
</div>
{% endmacro %}

{% macro timeTag(theDate, theClass) %}
  <span {%-if theClass -%}class="{{- theClass -}}"{%-endif -%}><time
        datetime="{{ theDate | htmlDateString }}">
    {{ theDate | readableDate }}
  </time></span>
{%endmacro %}


{# sort(reverse, caseSens) #}

{%- macro taglist(theTags) -%}
  {%- for tag in theTags | sort(false, true) %}
    {%- set tagUrl %}/tags/{{ tag }}/{%- endset -%}
    <a href="{{ tagUrl | url }}" class="atag"><span>{{ tag }}</span></a> <!-- -->
  {%- endfor %}
{%- endmacro -%}


{%-macro card(url, title, subhead, category, tags, time) -%}
<div class="card">
  <div class="card-title">
    <a href="{{ url | url }}">
      <span>
        {%-if title -%}
          {{ title }}
        {%-else -%}
          <code>{{ url }}</code>
        {%-endif -%}
      </span>
    </a>
  </div>
  <div class="card-subhead">
    <a href="{{ url | url }}">
    <span>
      {{- subhead | safe -}}
    </span>
    </a>
  </div>
  <div class="card-category">
      <a class="category" title="{{category}}" href="/categories/{{category}}">
        {{- category.substring(0,2) -}}
      </a>
  </div>
  <div class="card-tags">&#8203;
    {{- taglist(tags) -}}
  </div>
  <div class="card-date">{{ time }}</div>
</div>
{% endmacro %}
