{% macro articlesList(aList) %}
<style>

.articleList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15px;
}

.articleList-item {
  width: 43%;
  font-family: var(--list-font);
  color: var(--body);
  margin: 0 0 1em 0;
  padding-left: 1em;
  padding-top: .5em;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.19) ;
/* offset-x | offset-y | blur-radius | spread-radius | color */


}


.articleList-item::first-letter {
  color: var(--darkred);
  font-weight: 450;
}

.articleList-item a[href] {
  text-decoration: none;
  color: var(--body)
}

.articleList-item a[href]:hover {
  text-decoration: underline;
}


.articleList-date {
  font-size: 60%;
  color: var(--darkgray);
  margin-left: 0;
}

.article-category {
  font-size: 60%;
  border: 1px solid var(--lightgray);
  border-radius: 3px;
  padding: 2px;
}

</style>

<div class="articleList">
{% for article in aList | reverse %}
	<div class="articleList-item">
    <a href="{{ article.url | url }}">
      <span>
        {% if article.data.title %}
          {{ article.data.title }}
        {% else %}
          <code>{{ article.url }}</code>
        {% endif %}
      </span>
    </a>
        {{ timeTag(article.date, "articleList-date")}}
    <span class="article-category"><a href="/categories/{{article.data.category}}">{{ article.data.category }}</a></span>
    <div style="display: block">
		{% for tag in article.data.tags | sort %}
           {% set tagUrl %}/tags/{{ tag }}/{% endset %}
     <a href="{{ tagUrl | url }}" class="tag"><span>{{ tag }}</span></a>
    {% endfor %}
    </div>
	</div>
{% endfor %}
</div>
{% endmacro %}

{% macro timeTag(theDate, theClass) %}
  <time {% if theClass %}class="{{- theClass -}}"{% endif %}
        datetime="{{ theDate | htmlDateString }}">
    {{ theDate | readableDate }}
  </time>
{% endmacro %}
