
#wrapper {
    max-width: none;
    margin-left: .5in;
    margin-right: .5in;
}


h3 {
    float: left;
    width: 50%;
    display: block;
    float: left;
    width: 60%;
    display: block;
}

h3:before {
    content: "\25b8\2004";
    margin-left: -1em;
    color: #333;
}

h3 {
    color: #C22323;
}


/*
    Paragraph after h3 is dates
    marked 2 adds a section after headers
*/

h3 + p,
h3 + section > p:first-child  {
    color: #333;
    font-weight: normal;
    float: left;
    text-align: right;
    display: block;
    width: 40%;
    font-style: italic;
    font-size: 1.333rem;
    line-height: 1.333rem;
    font-size: 90%;
}

h3 + p + p,
h3 + section > p + p {
    clear: both;
}
