---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>


{{ content | safe }}

<p class="article-date">{{ page.date | readableDate }}</p>

<p><a href="{{ '/articles' | url }}">← Articles</a></p>
