---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>


{{ content | safe }}

<section class="article-footer">
  <nav>
    <ul>
      <li class="footer-item"><a href="{{ '/articles' | url }}">← Articles</a></li>
      <li class="footer-item article-date">{{ page.date | readableDate }}</li>
    </ul>
  </nav>
</section>

</section>
