<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ renderData.title or title or metadata.title }}</title>
	<script type="text/javascript">
    (function() {
        var trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = 'https://easy.myfonts.net/v2/js?sid=295981(font-family=Neue+Kabel+Pro+ExtraLight)&sid=295986(font-family=Neue+Kabel+Pro+Medium)&sid=295988(font-family=Neue+Kabel+Pro+Regular)&sid=295993(font-family=Neue+Kabel+Pro+Bold)&key=AzfLG4nj6J';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

  	<link rel="stylesheet" href="{{ '/css/index.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">

		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet">

  </head>
	<body>
	  <div id="wrapper">
      <header>
        <div id="logo">
          <span class="slug">pborenstein</span>.com
        </div>
        <nav>
          <ul>
            {%- for nav in collections.nav  -%}
            <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
            {%- endfor -%}
          </ul>
        </nav>

      </header>

      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>

      <footer>
        <ul>
          <li>
            <p class="footer-text" style="color: var(--body)">
            Copyright &copy; 2018 Philip Borenstein<br>
            Made in Manchester, USA
            </p>
          </li>
          <li>
            <p class="footer-text">
            {% if git.curbranch != 'HEAD' %}
              {{git.curbranch}}@
            {%- endif -%}
            {{ git.commitsha }}
            </p>
          </li>
        </ul>
      </footer>
		  <!-- Current page: {{ page.url | url }} -->
	  </div>
	</body>
</html>
