---
date: 2001-03-01
layout: page.njk
---

{% from "macros.njk" import timeTag  %}

{# macro timeTag(theDate, theClass) #}
<style>
.squib {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto 1em;
  grid-template-areas:
    "squib-text"
    "squib-date"
  ;
  width: 80%;
  margin: 0 0 1.25em 0;
  padding-left: .5em;
  padding-right: 0;
  padding-top: .5em;
  border-left: 3px solid var(--darkred);
  border-top: 1px solid var(--fadeddarkred);
  border-radius: 1px 0 0 0;
}

.squib-text {
  grid-area: squib-text;
/*
  font-family: var(--body-font);
 */
  font-family: 'Alegreya', cursive;
  font-size: 85%;
  word-break: break-word;
  max-height: 9em;
  overflow: scroll;
  color: var(--body);
}

.squib-text p {
  margin: 0 0 .4em 0;
}

.squib-date {
  grid-area: squib-date;
  line-height: 1em;
  font-size: .6rem;
  color: var(--gray);
	font-family: var(--body-font);
  margin-left: 0;
  margin-bottom: 1em;
  align-self: end;
  padding-top: 2px;
  text-align: right;
}
</style>

<div class="articleList" style="margin-top: 3px">
  {%-for q in collections.q | reverse -%}
    <div class="squib">
      <div class="squib-date">
        {{- q.date | dateTime -}}
      </div>

      <div class="squib-text">
        {{- q.templateContent | safe -}}
      </div>
    </div>
  {%-endfor -%}
</div>
