:root {
	--red:          #c22323;
  --fadedred:     #c223234d;
  --fadedred2:    #dab3c3; /* faded red with 100 alpha */
  --darkred:      #7F0036;
  --fadeddarkred: #7F00364d;
	--gray:         #C0C0C0;
  --darkgray:     #666;
  --lightgray:    #f2f2f2;
  --white:        #fff;
  --body:         #111;
  --heading:      #333;
  --list-font:    'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --footer-font:  'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --body-font:    'neue-kabel',  Georgia, serif;
  --heading-font: 'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --code-font:    Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  --code-font-size: .875em;
  --font-features:  "onum",   /*  onum:   Old style numbers */
                    "ss04",   /*  ss04:   Overlapping W   */
                    "ss06",   /*  ss06:   happy e */
                    "ss08",   /*  ss08:   diamond I dots */
                    "ss11",   /*  ss11:   round a */
                    "ss14";   /*  ss14:   tail l */
                  /* https://www.myfonts.com/fonts/linotype/neue-kabel/regular/glyphs.html */
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: scroll;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid red !important; */
}

.hidden {
  display: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* WTFF: https://stackoverflow.com/questions/26352852/fonts-are-displaying-different-in-chrome-firefox */
    font-family: var(--body-font);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight:  400;
    margin: 0 20px;
    padding: 0;
    word-wrap: break-word;
    color: var(--body);
    background-color: var(--white);
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: var(--font-features);
    -webkit-font-feature-settings: var(--font-features);
    font-feature-settings: var(--font-features);
  }


.wrapper {
  display: grid;
  height: 100%;
  grid-row-gap: 1rem;
  grid-column-gap: 1em;
  grid-template-columns: 25vw minmax(16rem, 32rem);
  grid-template-rows: auto 1fr   6rem;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-areas:
    "....  head"
    "nav   main"
    "....  foot";
}

@media (max-width: 320px) {}
@media (max-width: 375px) {}
@media (max-width: 414px) {}
@media (max-width: 637px) {}

@media (max-width: 640px) {
  .wrapper {
    display: inherit;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-areas:
      "head"
      "nav"
      "main"
      "foot"
  }
  table {
    table-layout: fixed;
  }
  nav {
    margin: 0 0 1rem 0 !important;
  }
  nav ul {
    flex-direction: row !important;
    justify-content: space-between;
    margin: 0 0 0 0rem !important;
    padding: 0 0 0 .2em !important;
    max-width: 4rem;
    border: 0 !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
  }
  .nav-item {
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
}

/*  page header */

header {
  display: grid;
  grid-area: head;
}

#logo {
  clear: both;
  color: var(--heading);
  font-family: var(--heading-font);
  padding: 0 0em 0.1em 0em;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0rem;
  font-weight: 700;
}

span.slug {
  color: var(--red);
}


/*  Main content */
main {
  grid-area: main;
  padding-top: 1.5em;
}

p,ul,ol,pre,table,blockquote,dd {
  line-height: 1.4rem;
  margin-top: 0.8rem;
}

p img {
  margin: 0;
}

blockquote {
  margin: 0.8rem 1em 0rem 1em;
  padding: 0 1em;
  border-left: 4px solid var(--red);
  font-style: italic;
}


ul, ol {
  margin: 0 0 1rem 0;
  padding-left: 2em;
}

li > ul,
li > ol {
  padding-left: 1.1em;
}

/*  the default UL OL has 40px left padding! */
ol[class=postlist],
ul[class=postlist] {
  padding: 0;
}



h1 + p,
h2 + p,
h3 + p {
  margin-top: 0px;
}

p :not(ul) {
  margin-top: 0em;
  margin-bottom: 1.68rem;
}

a[href] {
  text-decoration: none;
  color: var(--red)
}

a[href]:hover {
  text-decoration: underline;
}

/*  tags  */

.tag {
	font-family: var(--code-font);
  font-size: 62.5%; /* (10px if default is 16px) */
  padding:  2px 2px;
  border: 1px solid var(--fadedred);
  border-radius: 3px;
}

.article-slug .tag {
  border: 0;

}

a[href].tag,
a[href].tag:visited {
  text-decoration: transparent;
}

/* cards */

.articleList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15px;
}

.card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: min-content
                      minmax(min-content, max-content)
                      2fr
                      min-content;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  grid-template-areas:
    "title  category"
    "subhead category"
    "tags   tags"
    "date   date"
  ;
  width: 48%;
  height: 100%;
  overflow: scroll;
  font-family: var(--list-font);
  color: var(--body);
  margin: 0 0 1em 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.19) ;
            /* offset-x | offset-y | blur-radius | spread-radius | color */
}



.card-title {
  grid-area: title;
  line-height: 1.25em;
  margin-bottom: .5em;
}


.card-title::first-letter {
  color: var(--darkred);
  font-weight: 700;
  font-size: 125%;
}

.card-title a[href] {
  text-decoration: none;
  color: var(--body);
  line-height: 1em;
}

.card-title a[href]:hover {
  text-decoration: underline;
}

.card-subhead {
  grid-area: subhead;
  font-size: 75%;
  line-height: 1.25em;
  margin: 0 1em;
  font-style: italic;
  color: var(--darkgray);
}


.card-date {
  line-height: 1em;
  font-size: .6rem;
  color: var(--gray);
	font-family: var(--body-font);
  margin-left: 0;
  margin-bottom: 1em;
  align-self: end;
  border-top: 1px solid var(--gray);
  padding-top: 2px;
  grid-area: date;
}

.card-category {
  grid-area: category;
  height: 40px;
  width: 40px;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: right; /* moves us to the right of
                          the grid cell */
}


/*  tags  */

.category {
  line-height: 1em;
  font-size: 2em;
  font-weight: 800;
  margin-left: 0;
	font-family: var(--body-font);
  float: right;
}

a[href].category,
a[href].category:visited {
  color: var(--lightgray);
  text-decoration: transparent;
}

a[href].category:hover {
  color: var(--gray);
}


.card-tags {
  grid-area: tags;
  line-height: 1em;
  align-self: end;
  padding-bottom: 0.25em;
}




/* Article List */


.article-slug {
  font-size: 62.5%;
  line-height: 1.3em;
  color: var(--darkgray);
  margin: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  border-top: 1px solid var(--fadeddarkred);
  border-bottom: 1px solid var(--fadeddarkred);
  padding-top: .5em;
  padding-bottom: .5em;
}


.article-date {
  font-style: italic;
}

.article-category {

}


.article-footer {
  margin: 1rem 0 0 0;
  font-family: var(--body-font);
  font-size: 0.875rem;
}


/*  headings

    We usually want space above
    the headings, except when
    it's the first one in the
    container, usually <main>
*/

h1, h2, h3, h4, h5, h6, dt {
  color: var(--heading);
  font-family: var(--heading-font);
  font-weight: 700;
  margin-bottom: 0.33rem;
  margin-top: 2rem;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0px;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

/*  navigation */

nav {
  grid-area: nav;
  margin: 0 0 0 auto;
}

nav ul {
  list-style: none inside;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  /* border: 1px dotted var(--fadedred); */
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.19) ;

  margin: 2em 2em 0 0;
  width: 6em;
}

.nav-item {
  margin-right: 1em;
  margin-left: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  font-size: 60%;
}

.nav-item-active {
	font-weight: 700;
	text-decoration: underline;
}

.nav-item a[href] {
  text-decoration: none;
  color: var(--darkgray)
}

.nav-item a[href]:hover {
  text-decoration: underline;
}



/*  footer  */

footer {
  grid-area: foot;
  font-size: 1rem;
  color: var(--gray);
  font-family: var(--footer-font);
  font-size: 0.6rem;
  margin: 0 0 1rem 0;
  border-top: 1px solid var(--darkred);
  padding-top: 0.5em;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between ;
}

.footer-text {
  line-height: 1.4em;
  vertical-align: top;
  margin: 0
}

.footer-item {
	display: inline-block;
}





/* links to markdown header with disappearing # */
.direct-link {
	font-family: var(--heading-font);
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
	color: #aaa;
}


/*  code  */

/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family: var(--code-font);
  font-size: var(--code-font-size);
  padding:  0.125em 0.125em 0px 0.125em;
  margin: 0px 0.125em 0px 0.125em;
  border: 1px solid var(--fadedred);
  border-radius: 3px;
  vertical-align: middle; /* [`code`] looks better this way */
}



/*  Code Highlighting */

pre {
	font-family: var(--code-font);
	font-size: var(--code-font-size);
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
	background-color: #f6f6f6 !important;
}

.highlight-line {
	padding: 0.125em 1em; /* 2px 16px /16 */
}
.highlight-line-isdir {
	color: #b0b0b0;
	background-color: #222;
}
.highlight-line-active {
background-color: #d6d0c1;
}
.highlight-line-add {
	background-color: #45844b;
}
.highlight-line-remove {
	background-color: #902f2f;
}

/* Table hacks */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

caption {
  caption-side: top;
  text-align: right;
  text-transform: lowercase;
  font-family: var(--heading-font);
  font-weight: 450;
  margin-top: 1em;
  padding: 0;
  color: var(--body);
  border-radius: 3px;
}

.table-caption {
  width: max-content;
  padding: 0;
  /* border-bottom: var(--fadedred);
  box-shadow: inset 0 -4px 0 var(--fadedred); from wired */
  float: right;
  background-image: linear-gradient(180deg,transparent 75%,var(--fadedred) 0) /* from https://www.ideo.com/ */
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: auto;
}

thead th:nth-child(3) {
  width: 60%;
}

tbody tr:nth-child(odd) {
  background-color: var(--lightgray);
}

tbody tr:nth-child(even) {
  background-color: var(--white);
}


th, td {
  vertical-align: text-top;
}

td, th {
  padding: 5px;
}

th {
  padding-bottom: 0;
  color: var(--body);
}

td:last-of-type,
th:last-of-type {
  padding-left: 0;
}

td hr::after {
   content: "example";
   font-size: 60%;
   position: relative;
   top: -1.7em;
   background: var(--fadedred2);
   padding: 0 .5em .25em .5em;
   margin-right: .5em;
   color: var(--darkred);
   border-radius: 4px;;
}
td hr {
  overflow: visible;
/* Inset, by Dan Eden via https://css-tricks.com/examples/hrs/*/
    border: 0;
    height: 0;
/*
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 */
    border-top: 1px solid var(--fadeddarkred);
    margin: .5em 0 0 0;
    text-align: right;
}

div[class="mdhack"] + table   {
  font-family: "neue-kabel";
}

div[class="mdhack"] + table thead {
  font-family: "neue-kabel";
}

div[class="mdhack"] + table tbody tr td:first-child {
  font-family: var(--code-font);
  font-size: var(--code-font-size);
}

.footnotes {
  font-size: 75%;
}
