@import url("list-table.css");


:root {
  --color-body:         #111;
  --color-darkgray:     #666;
  --color-darkred:      #7F0036; /* 127, 0, 54 */
  --color-fadeddarkred: #7F00364d;
  --color-fadedred:     #c223234d;
  --color-fadedred2:    #dab3c3; /* faded red with 100 alpha */
  --color-gray:         #C0C0C0;
  --color-heading:      #333;
  --color-lightgray:    #f2f2f2;
  --color-red:          #c22323;
  --color-white:        #fff;
  --color-shadow:       3px 3px 4px 0px rgba(0, 0, 0, 0.19);
                        /* offset-x | offset-y | blur-radius | spread-radius | color */

  --font-body:          'neue-kabel',  Georgia, serif;
  --font-caption:       'Cochin', 'Times', serif;
  --font-code-size:     .875em;
  --font-code:          Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  --font-footer:        'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-heading:       'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-list:          'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-features:      "onum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "ss06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "ss14";   /*  ss14:   tail l */
                                /* https://www.myfonts.com/fonts/linotype/neue-kabel/regular/glyphs.html */
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: scroll;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid red !important; */
}

.hidden {
  display: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* WTFF: https://stackoverflow.com/questions/26352852/fonts-are-displaying-different-in-chrome-firefox */
    font-family: var(--font-body);
    font-weight:  400;
    margin: 0 20px;
    padding: 0;
    word-wrap: break-word;
    color: var(--color-body);
    background-color: var(--color-white);
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: var(--font-features);
    -webkit-font-feature-settings: var(--font-features);
    font-feature-settings: var(--font-features);
    --tt-key: body;
    font-size: 1.5rem;
    line-height: 1.4;
}


/*
 * https://github.com/typetura/typetura.js
 */

@keyframes body {
  0% {
    font-size: .5rem;
    line-height: 1.5;
  }
  25% {
    font-size: 1rem;
    line-height: 1.5;
  }
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(17rem, 35rem) 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-areas:
  "... head ..."
  "... nav  ..."
  "... main ..."
  "... foot ...";
}

/*  page header */

header {
  display: grid;
  grid-area: head;
}

#logo {
  clear: both;
  color: var(--color-heading);
  font-family: var(--font-heading);
  padding: 0 0em 0.1em 0em;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 0rem;
  font-weight: 700;
  --tt-key: logo;
}

@keyframes logo {
  0%, 16% {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  65%, 100% {
  }
}



span.slug {
  color: var(--color-red);
}

#logo a[href] {
  text-decoration: none;
  color: inherit;
}

#logo a[href]:hover {
  text-decoration: none;
  color: var(--color-red);
}
#logo a[href]:hover .slug{
  text-decoration: none;
  color: var(--color-heading);
}

.box-shadow {
  box-shadow: var(--color-shadow);
}


/*  Main content */

main {
  grid-area: main;
  padding-top: 0;
}

p,ul,ol,pre,table,blockquote,dd {
  margin-top: 0.8rem;
}

p {
  margin-bottom: 0;
}

p img {
  margin: 0;
}

blockquote {
  margin: 0.8rem 1em 0rem 1em;
  padding: 0 1em;
  border-left: 4px solid var(--color-fadeddarkred);
  font-style: initial;
}


ul, ol {
  margin: 0 0 1rem 0;
  padding-left: 2em;
}

li > ul,
li > ol {
  padding-left: 1.1em;
}

/*  the default UL OL has 40px left padding! */
ol[class=postlist],
ul[class=postlist] {
  padding: 0;
}



h1 + p,
h2 + p,
h3 + p {
  margin-top: 0px;
}

p :not(ul) {
  margin-top: 0em;
  margin-bottom: 1.68rem;
}

a[href] {
  text-decoration: none;
  color: var(--color-red)
}


a[href]:hover {
  text-decoration: underline;
}

/*  tags  */

.atag {
	font-family: var(--font-code);
  font-size: 62.5%; /* (10px if default is 16px) */
  padding:  2px 2px;
  border: 1px solid var(--color-fadedred);
  border-radius: 3px;
}

.article-slug .atag {
  border: 0;

}

a[href].atag,
a[href].atag:visited {
  text-decoration: transparent;
}

summary {
  color: var(--color-darkred);
  outline-color: var(--color-white);
  cursor: pointer;
}

/* cards */

.articleList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15px;
}

.card {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: min-content
                      minmax(min-content, max-content)
                      2fr
                      min-content;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  grid-template-areas:
    "title  category"
    "subhead subhead"
    "tags   tags"
    "date   date"
  ;
  word-break: break-word;
  width: 100%;
  height: 100%;
  overflow: scroll;
  font-family: var(--font-list);
  color: var(--color-body);
  margin: 0 0 1em 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  box-shadow: var(--color-shadow)
}



.card-title {
  grid-area: title;
  line-height: 1.25em;
  margin-bottom: .5em;
}


.card-title::first-letter {
  color: var(--color-darkred);
  font-weight: 700;
  font-size: 125%;
}

.card-title a[href] {
  text-decoration: none;
  color: var(--color-body);
  line-height: 1em;
}

.card-subhead a[href]:hover,
.card-title a[href]:hover {
  background: var(--color-lightgray);
}

.card-subhead {
  grid-area: subhead;
  font-size: 75%;
  line-height: 1.25em;
  margin: 0 0 1em 0;
  font-style: italic;
  color: var(--color-darkgray);
}

.card-line,
.card-line p,
.card-subhead,
.card-subhead p
{
  line-height: 1.25;
}

.card-subhead a[href] {
  text-decoration: none;
  color: inherit;
}


.card-date {
  line-height: 1em;
  font-size: .6rem;
  color: var(--color-gray);
	font-family: var(--font-body);
  margin-left: 0;
  margin-bottom: 1em;
  align-self: end;
  border-top: 1px solid var(--color-gray);
  padding-top: 2px;
  grid-area: date;
}

.card-category {
  grid-area: category;
  height: 32px;
  width: 32px;
  border: 1px solid var(--color-lightgray);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: right; /* moves us to the right of
                          the grid cell */
}

.graybox {
  background-color: var(--color-lightgray);
  border-radius: 3px;
}

/*  tags  */

.category {
  line-height: 1em;
  font-size: 1em;
  font-weight: 800;
  margin-left: 0;
	font-family: var(--font-body);
  float: right;
}

a[href].category,
a[href].category:visited {
  color: var(--color-gray);
  text-decoration: transparent;
}

a[href].category:hover {
  color: var(--color-darkgray);
}


.card-tags {
  grid-area: tags;
  line-height: 1em;
  align-self: end;
  padding-bottom: 0.25em;
}




/* Article List */


.article-slug {
  font-size: 62.5%;
  line-height: 1.3em;
  color: var(--color-darkgray);
  margin: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  border-top: 1px solid var(--color-fadeddarkred);
  border-bottom: 1px solid var(--color-fadeddarkred);
  padding-top: .5em;
  padding-bottom: .5em;
}


.article-date {
  font-style: italic;
}

.article-footer {
  margin: 1rem 0 0 0;
  font-family: var(--font-body);
  font-size: 0.875rem;
}


/*  headings

    We usually want space above
    the headings, except when
    it's the first one in the
    container, usually <main>
*/

h1, h2, h3, h4, h5, h6, dt {
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-weight: 700;
  margin-bottom: 0rem;
  margin-top: 2rem;
  --tt-key: heads;
}

@keyframes heads {
   0% { font-weight: 300; }
  50% { font-weight: 700; }
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0px;
}


/*  navigation */



nav {
  grid-area: nav;
  margin: 0 0 1rem 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none inside;
  margin: 0 0 0 0rem;
  padding: 0 0 0 .2em;
  max-width: 4rem;
  width: 6em;
  border: 0;
  box-shadow: 0px 0px 0px 0px transparent;
}

.nav-item {
  display: inline;
  margin-right: 1em;
  margin-left: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  font-size: 60%;
}

.nav-item-active {
	font-weight: 700;
	text-decoration: underline;
}

.nav-item a[href] {
  text-decoration: none;
  color: var(--color-darkgray)
}

.nav-item a[href]:hover {
  text-decoration: underline;
}



/*  footer  */

footer {
  grid-area: foot;
  font-size: 1rem;
  color: var(--color-gray);
  font-family: var(--font-footer);
  font-size: 0.6rem;
  margin: 0 0 1rem 0;
  border-top: 1px solid var(--color-darkred);
  padding-top: 0.5em;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between ;
}

.footer-text {
  line-height: 1.4em;
  vertical-align: top;
  margin: 0
}

.footer-item {
	display: inline-block;
}

#sha a,
#sha a:hover
{
  text-decoration: none;
  color: var(--color-gray);
}





/* links to markdown header with disappearing # */
.direct-link {
	font-family: var(--font-heading);
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
	color: #aaa;
}


/*  code  */

/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family: var(--font-code);
  font-size: var(--font-code-size);
  color: var(--color-darkred);
}

a[href] > code {
  text-decoration: underline;
}



/*  Code Highlighting */

pre {
	font-family: var(--font-code);
	font-size: var(--font-code-size);
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
	background-color: #f6f6f6 !important;
}

pre[class*="language-"] {
  box-shadow: var(--color-shadow);
}

.highlight-line {
	padding: 0.125em 1em; /* 2px 16px /16 */
}
.highlight-line-isdir {
	color: #b0b0b0;
	background-color: #222;
}
.highlight-line-active {
background-color: #d6d0c1;
}
.highlight-line-add {
	background-color: #45844b;
}
.highlight-line-remove {
	background-color: #902f2f;
}

/* Table hacks */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--color-shadow);
}

caption {
  caption-side: top;
  text-align: right;
  text-transform: lowercase;
  font-family: var(--font-caption);
  font-style: italic;
  font-weight: 450;
  color: var(--color-darkred);
  margin-top: 1em;
  padding: 0;
  border-radius: 3px;
}

.table-caption {
  width: max-content;
  padding: 0;
  float: right;
  background-image: linear-gradient(180deg,transparent 75%,var(--color-fadedred) 0) /* from https://www.ideo.com/ */
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: auto;
}

thead th:nth-child(3) {
  width: 60%;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-lightgray);
}

tbody tr:nth-child(even) {
  background-color: var(--color-white);
}


th, td {
  vertical-align: text-top;
  padding: 5px;
}

th {
  padding-bottom: 0;
  color: var(--color-body);
  --tt-key: th;
}

@keyframes th {
  0% {
    font-weight: 400;
  } 50% {
    font-weight: 700;
  }


}


td:last-of-type,
th:last-of-type {
  padding-left: 0;
}

td hr::after {
   content: "example";
   font-size: 60%;
   position: relative;
   top: -1.7em;
   background: var(--color-fadedred2);
   padding: 0 .5em .25em .5em;
   margin-right: .5em;
   color: var(--color-darkred);
   border-radius: 4px;;
}
td hr {
  overflow: visible;
/* Inset, by Dan Eden via https://css-tricks.com/examples/hrs/*/
    border: 0;
    height: 0;
/*
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 */
    border-top: 1px solid var(--color-fadeddarkred);
    margin: .5em 0 0 0;
    text-align: right;
}

div[class="mdhack"] + table   {
  font-family: "neue-kabel";
}

div[class="mdhack"] + table thead {
  font-family: "neue-kabel";
}

div[class="mdhack"] + table tbody tr td:first-child {
  font-family: var(--font-code);
  font-size: var(--font-code-size);
}

.footnotes {
  font-size: 75%;
}

.footnote-ref {
  font-family: var(--font-code);
}

.footnotes-sep {
  margin-top: 3rem;
}

