:root {
	--red:        #c22323;
  --darkred:    #7F0036;
  --fadedred:   #7f003638;
	--gray:       #C0C0C0;
	--darkgray:   #666;
  --white:      #fff;
  --body:       #111;
  --heading:    #333;
  --list-font:    'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --footer-font:  'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --body-font:    'neue-kabel',  Georgia, serif;
  --heading-font: 'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --code-font:    Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  --code-font-size: .75em;
  --font-features:  "onum",   /*  onum:   Old style numbers */
                    "ss04",   /*  ss04:   Overlapping W   */
                    "ss06",   /*  ss06:   happy e */
                    "ss08",   /*  ss08:   diamond I dots */
                    "ss11",   /*  ss11:   round a */
                    "ss14";   /*  ss14:   tail l */
                  /* https://www.myfonts.com/fonts/linotype/neue-kabel/regular/glyphs.html */
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: scroll;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid red !important; */
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--body-font);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight:  400;
    margin: 0 20px;
    padding: 0;
    word-wrap: break-word;
    color: var(--body);
    background-color: var(--white);
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: var(--font-features);
    -webkit-font-feature-settings: var(--font-features);
    font-feature-settings: var(--font-features);
  }


.wrapper {
  display: grid;
  height: 100vh;
  grid-row-gap: 1rem;
  grid-column-gap: 1em;
  grid-template-columns: 25vw minmax(16rem, 32rem);
  grid-template-rows: auto 1fr   6rem;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-areas:
    "....  head"
    "nav   main"
    "....  foot";
}

@media (max-width: 640px) {
  .wrapper {
    display: inherit;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-areas:
      "head"
      "nav"
      "main"
      "foot"
  }
  nav {
    margin: 0 0 1rem 0 !important;
  }
  nav ul {
    flex-direction: row !important;
    justify-content: space-between;
    margin: 0 0 0 1rem !important;
    max-width: 4rem;
    border: 0 !important;
  }
  .nav-item {
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
}

/*  page header */

header {
  display: grid;
  grid-area: head;
}

#logo {
  clear: both;
  color: var(--heading);
  font-family: var(--heading-font);
  padding: 0;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0rem;
  font-weight: 700;
}

span.slug {
  color: var(--red);
}


/*  Main content */
main {
  grid-area: main;
}

p,ul,ol,pre,table,blockquote,dd {
  line-height: 1.4rem;
  margin-top: 0.8rem;
}

p img {
  margin: 0;
}

blockquote {
  margin: 0.8rem 1em 0rem 1em;
  padding: 0 1em;
  border-left: 4px solid var(--red);
  font-style: italic;
}


ul, ol {
  margin: 0 0 1rem 0;
}

/*  the default UL OL has 40px left padding! */
ol[class=postlist],
ul[class=postlist] {
  padding: 0;
}



h1 + p,
h2 + p,
h3 + p {
  margin-top: 0px;
}

p :not(ul) {
  margin-top: 0em;
  margin-bottom: 1.68rem;
}

a[href] {
  text-decoration: none;
  color: var(--red)
}

a[href]:hover {
  text-decoration: underline;
}

/*  tags  */

.tag {
	font-family: var(--code-font);
  font-size: 62.5%; /* (10px if default is 16px) */
  padding:  2px 2px;
  border: 1px solid var(--fadedred);
  border-radius: 3px;
}

a[href].tag,
a[href].tag:visited {
  text-decoration: transparent;
}

/* Article List */

.postlist {
  list-style: none inside;
}

.postlist-item {
  font-family: var(--list-font);
  color: var(--body);
  margin: 0 0 1em 0;
}

.postlist-item::first-letter {
  color: var(--darkred);
}

.postlist-date {
  font-size: 60%;
  color: var(--darkgray);
  margin-left: 1rem;
}

.article-date {
  font-size: 62.5%;
  line-height: 1em;
  color: var(--darkgray);
  font-style: italic;
  margin: 0;
}



.postlist-item a[href] {
  text-decoration: none;
  color: var(--body)
}

.postlist-item a[href]:hover {
  text-decoration: underline;
}


.article-footer {
  margin: 1rem 0 0 0;
  font-family: var(--body-font);
  font-size: 0.875rem;
}


/*  headings

    We usually want space above
    the headings, except when
    it's the first one in the
    container, usually <main>
*/

h1, h2, h3, h4, h5, h6, dt {
  color: var(--heading);
  font-family: var(--heading-font);
  font-weight: 700;
  margin-bottom: 0.33rem;
  margin-top: 2rem;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0px;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

/*  navigation */

nav {
  grid-area: nav;
  margin: 0 0 0 auto;
}

nav ul {
  list-style: none inside;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  border: 1px dotted var(--fadedred);
  margin: 2em 2em 0 0;
}

.nav-item {
  margin-right: 1em;
  margin-left: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  font-size: 60%;
}

.nav-item-active {
	font-weight: 700;
	text-decoration: underline;
}

.nav-item a[href] {
  text-decoration: none;
  color: var(--darkgray)
}

.nav-item a[href]:hover {
  text-decoration: underline;
}



/*  footer  */

footer {
  grid-area: foot;
  font-size: 1rem;
  color: var(--gray);
  font-family: var(--footer-font);
  font-size: 0.6rem;
  margin: 0 0 1rem 0;
  border-top: 1px solid var(--darkred);
  padding-top: 0.5em;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between ;
}

.footer-text {
  line-height: 1.4em;
  vertical-align: top;
  margin: 0
}

.footer-item {
	display: inline-block;
}





/* links to markdown header with disappearing # */
.direct-link {
	font-family: var(--heading-font);
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
	color: #aaa;
}


/*  code  */

/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family: var(--code-font);
  font-size: var(--code-font-size);
  padding:  2px 2px;
  border: 1px solid var(--fadedred);
  border-radius: 3px;
}



/*  Code Highlighting */

pre {
	font-family: var(--code-font);
	font-size: var(--code-font-size);
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
	background-color: #f6f6f6;
}

.highlight-line {
	padding: 0.125em 1em; /* 2px 16px /16 */
}
.highlight-line-isdir {
	color: #b0b0b0;
	background-color: #222;
}
.highlight-line-active {
	background-color: #444;
	background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
	background-color: #45844b;
}
.highlight-line-remove {
	background-color: #902f2f;
}

/* Table hacks */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 50%;
}

tbody tr:nth-child(odd) {
  background-color: var(--gray);
}

tbody tr:nth-child(even) {
  background-color: var(--white);
}


th, td {
  vertical-align: top;
}

td {
  padding: 0 1em 2em 0;
}

td:last-of-type {
  padding: 0 0 2em 0;
}

div[class="mdhack"] + table   {
  font-family: "neue-kabel";
}

div[class="mdhack"] + table thead {
  font-family: "neue-kabel";
}

div[class="mdhack"] + table tbody tr td:first-child {
  font-family: Courier;
}
