---
date: 2018-01-20
layout: layouts/home.njk
tags:
  - nav
navtitle: Articles
---
{% from "macros.njk" import articlesList  %}

<h1>All the things</h1>

<p>These are all the things in the <code>articles</code> directory.
At some point,
when I learn how pagination works,
I'll make this look better.</p>

{{ articlesList(collections.articles) }}
