---
date: 2001-04-01
permalink: /categories/
layout: page.njk
tags:
  - _nav
navtitle: Categories
title: Categories
---
<h1>{{title}}</h1>


<ul>
{% for cat in collections.catList | sort %}
  {%- if cat !== "Q" -%}
  {% set catUrl %}/categories/{{ cat }}/{% endset %}
  <li>
  <a href="{{ catUrl | url }}" class="cat">{{ cat }}</a>
  </li>
  {%- endif -%}

{% endfor %}
</ul>
