---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - articles
    - tagList
    - catList
    - categories
layout: page.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% from "macros.njk" import articlesList  %}

<h1>{{ tag }}, articles tagged</h1>

{{ articlesList(collections[ tag ]) }}

<p>See <a href="/tags/">all tags</a>.</p>
